/* import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Import end */




/* Shared styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

.primary-text{
    color:#727272;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
}
.btn-primary{
    border-radius: 8px;
background: #FF900E;
color: #fff;
font-size: 1.25rem;
font-weight: 600px;
padding: 20px 25px;
border: 0px;
margin-top: 32px;
}
/* Shared styles end */

/* nav section style start */
header{
    padding: 50px 240px;
    background: rgba(255, 144, 14, 0.10);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 1.5rem;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
    font-weight: 500px;
    font-size: 1.1rem;
}
nav h3{
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}

/* nav section style end */

/* banner section start */

.banner-container{
    margin-top: 102px;
}
.banner{
    width: 860px;
    text-align: center;
    margin: 0 auto;
}
.banner-img{
    margin-top: 50px;
}
.banner-title{
    color: #131313;
    font-weight: 700;
    font-size: 4rem;
}
/* banner section end */


/* Main section start from here */

/* Quick list section start */
 .quick-list-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 85px;
    gap: 73px;
 }
 .quick-list-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
 }
 .quick-list-content{
    padding: 10px;
 }
 .quick-list-content h2{
    color:#131313;
    font-weight: 700px;
    font-size: 2.8rem;
 }
 .quick-style_1{
    color: #727272;
    font-weight: 500px;
 }
 .quick-style_2{
    color: #FF900E;
 }
/* Quick list section end */


/* Main section end here */



/* Media query section start for small devices */
@media screen and (max-width:576px) {
    header{
        padding:10px;
    }
    nav,nav ul{
        flex-direction: column;
    }
    .banner{
        width: auto;
    }
    nav h3{
    font-size: 1.8rem;
}
.banner .banner-title{
    font-size: 2rem;
}
.banner-img img{
    width: 100%;
}
.quick-list-container{
    flex-direction: column-reverse;
}
.quick-list-images{
    grid-template-columns: 1fr;
}
/* .quick-list-container .quick-list-images img{
    width: 200px;
} */
.quick-list-content h2{
    font-size: 1.8rem;
}
.quick-list-images img{
    width: 100%;
}




}
/* Media query section end for small devices */
@media screen and (min-width:576px) and (max-width:960px) {
     header{
        padding:10px;
    }
    nav{
        flex-direction: column;
    }
    .banner{
        width: auto;
    }
    .banner-container img{
    width: 100%;
}
.quick-list-container{
    flex-direction: column-reverse;
}

}

/* Media query section start for medium devices */
/* Media query section end for medium devices */